@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Basic Styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-wrapper {
  max-width: 1160px;
  margin: auto;
}

.relative {
  position: relative;
}
