@import "variables.scss";

.BannerWrapper {
  position: relative;
}

.Slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.Canvas {
  position: absolute;
  right: -45%;
  opacity: 10%;
  top: -20%;
  z-index: 1;
  animation: rotate 5s linear infinite;

  @media (max-width: 600px) {
    top: 30%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.BannerImage {
  position: absolute;
  top: 10%;
  right: -20%;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Category {
  margin-top: 170px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  z-index: 3;
}

.Title {
  width: 50%;
  font-size: 75px;
  font-weight: 700;
  color: #181e4b;
  height: 350px;
  z-index: 3;

  @media (max-width: 1200px) {
    font-size: 50px;
    width: 70%;
    height: 150px;
  }

  @media (max-width: 780px) {
    font-size: 30px;
    height: 100px;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 150px;
  }
}

.Brief {
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  color: $textPrimary;
  height: 100px;
  z-index: 3;

  @media (max-width: 1200px) {
    width: 70%;
    height: 120px;
  }

  @media (max-width: 600px) {
    width: 100%;
    height: 150px;
  }
}

.LinksWrapper {
  display: flex;
  gap: 44px;
  align-items: center;
  z-index: 3;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.ItemLink {
  background-color: #ff7c16;
  padding: 18px 26px;
  color: white;
  font-size: 18px;
  box-shadow: 0px 20px 70px #f1a50126;
  border-radius: 10px;
}

.PlayBtn {
  display: flex;
  align-items: center;
  color: #686d77;
  font-size: 17px;
}

.PlayIcon {
  background-color: #e72228;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 20px;
}

.BulletsWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-self: flex-end;
  margin-bottom: 40px;
  height: 50px;

  @media (max-width: 600px) {
    display: none;
  }
}

.SlideBullet {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  z-index: 5;
  transition: all 0.3s ease;
}

.ActiveBullet {
  width: 50px;
  height: 50px;
}

.SlideSubBullet {
  width: 3px;
  height: 3px;
  border-radius: 100px;
  background-color: #353535;
}
